[submodule "dep/SDL"]
	path = dep/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "dep/SDL_image"]
	path = dep/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "dep/SDL_mixer"]
	path = dep/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "dep/physfs"]
	path = dep/physfs
	url = https://github.com/icculus/physfs
